/JavaApplication/nbproject/private/
/JavaApplication/build/
/WebApplication/nbproject/private/
/WebApplication/build/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming-Preloader/nbproject/private/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXProgramming/build/
/RPi-LCD-JavaFXProgramming-Preloader/build/
/RPi-LCD-JavaFXProgramming-Preloader/dist/
/JavaFXProgramming/dist/